<div class="bg_image">
  <div ng-include="'app/templates/header.html'"></div>
  <div class="main_container home_container">
    <div class="col-sm-12">
      <div class="col-sm-4">
        <div class="text-center padding_left_zero">
          <div class="col_content ministry_of_interiors" ng-click="changeState('ministry-of-interior')">
            <div class="">Citizen Services</div>
          </div>
        </div>
        <div class="text-center padding_right_zero">
          <div class="col_content ministry_of_energy" ng-click="changeState('ministry-of-energy')">
            <div class="">Department of Energy</div>
          </div>
        </div>
        <div class="text-center padding_left_zero">
          <div class="col_content ministry_of_interiors">
            <div class="">Department of Water Supply and Sewerage</div>
          </div>
        </div>
        <div class="text-center padding_right_zero">
          <div class="col_content ministry_of_energy">
            <div class="">Department of Health</div>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <div class="section_details">
          <h3>Smart city</h3>
          <p>A smart city is an urban development vision to integrate multiple information and communication technology (ICT) solutions in a secure fashion to manage a city’s assets – the city’s assets include, but not limited to, local departments information systems, schools, libraries, transportation systems, hospitals, power plants, water supply networks, waste management, law enforcement, and other community services.
          </p>
          <p>
              The goal of building a smart city is to improve quality of life by using technology to improve the efficiency of services and meet residents’ needs. ICT allows city officials to interact directly with the community and the city infrastructure and to monitor what is happening in the city, how the city is evolving, and how to enable a better quality of life.
          </p>
          <p>
              Through the use of sensors integrated with real-time monitoring systems, data are collected from citizens and devices - then processed and analyzed. The information and knowledge gathered are keys to tackling inefficiency.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div ng-include="'app/templates/footer.html'"></div>
</div>
