<div class="bg_image">
  <!--<div ng-include="'app/templates/header.html'"></div>-->
  <div class="main_container login_container">
    <div class="">
      <div class="col-sm-4 col-sm-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading transparent">
            <h2 class="text-center margin_top color_ff">Hyderabad Smart Data System</h2>
          </div>
          <div class="panel-body">
            <form action="" name="loginForm">
              <div class="form-group">
                <label for="email">User Name</label>
                <input type="text" class="form-control" ng-model="user.uname" id="email"
                       placeholder="Enter your username"
                       required/>
              </div>
              <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" ng-model="user.pwd" id="pwd" placeholder="Enter your password"
                       required/>
              </div>
              <button type="submit" class="btn btn-block btn-success uppercase" ng-click="auth.login(user)"
                   ng-disabled="loginForm.$invalid">Login
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div ng-include="'app/templates/footer.html'"></div>-->
</div>
